<app-navbar></app-navbar>

<header>
    <h1>Ran Ahan</h1>
    <mat-icon style="margin-bottom: 20px; color: brown;" matTooltip="@253 Asoke">location_on</mat-icon>
</header>

<div class="form-search-row">
    <mat-form-field appearance="fill">
        <mat-label>Menu for</mat-label>
        <input matInput [matDatepicker]="dp3" [disabled]="false">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3></mat-datepicker>
    </mat-form-field>

    <input class="search" [formControl]="searchControl" placeholder="Search meals..." />
</div>


<mat-spinner *ngIf="isLoading" class="loader"></mat-spinner>

<div *ngIf="!isLoading" class="meal-list">
    <ng-container *ngIf="meals.length > 0; else noResults">
        <div *ngFor="let meal of meals" class="meal-card">
            <h3 class="meal-title" [title]="meal.strMeal">{{ meal.strMeal }}</h3>
            <img [src]="meal.strMealThumb" [alt]="meal.strMeal" width="200" />
            <p>{{ meal.strArea }} | {{ meal.strCategory }}</p>
            <p>
                How to Make:
                {{ meal.strYoutube ? '' : '-' }}
                <a *ngIf="meal.strYoutube" [href]="meal.strYoutube" target="_blank">{{ meal.strYoutube }}</a>
            </p>

            <button mat-button (click)="openIngredientDialog(meal)">
                View Ingredients
            </button>
        </div>
    </ng-container>
</div>

<ng-template #noResults>
    <p id="noResults">No meals found.</p>
</ng-template>