<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="register.component.css">
</head>

<body>
    <h1>Register</h1>

    <div class="box">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label>Gender:</label>
            <div class="radio-group">
                <label><input type="radio" formControlName="gender" value="male"> Male</label>
                <label><input type="radio" formControlName="gender" value="female"> Female</label>
                <label><input type="radio" formControlName="gender" value="other"> Other</label>
            </div>
            <div *ngIf="isInvalid('gender')" class="alert">กรุณาระบุเพศ*</div>

            <!-- Firstname -->
            <input type="text" formControlName="firstName" placeholder="Firstname"
                [ngClass]="{'is-invalid': isInvalid('firstName')}">
            <div *ngIf="isInvalid('firstName')" class="alert">กรุณากรอกชื่อ*</div>

            <!-- Surname -->
            <input type="text" formControlName="surName" placeholder="Surname"
                [ngClass]="{'is-invalid': isInvalid('surName')}">
            <div *ngIf="isInvalid('surName')" class="alert">กรุณากรอกนามสกุล*</div>

            <!-- Nickname -->
            <input type="text" formControlName="nickName" placeholder="Nickname"
                [ngClass]="{'is-invalid': isInvalid('nickName')}">
            <div *ngIf="isInvalid('nickName')" class="alert">กรุณากรอกชื่อเล่น*</div>

            <!-- Phone -->
            <input type="tel" id="phone" formControlName="phone" placeholder="Phone number" maxlength="12"
                (keypress)="allowOnlyNumbers($event)" (input)="formattedPhone($event)"
                [ngClass]="{'is-invalid': registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched}"
                [value]="registerForm.get('phone')?.value | phone" /><br>
            <div *ngIf="(registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched)" class="alert">
                กรุณากรอกเบอร์โทรศัพท์*</div>

            <!-- citizenID -->
            <input type="text" id="citizenID" formControlName="citizenID" placeholder="citizenID" maxlength="17"
                (keypress)="allowOnlyNumbers($event)" (input)="formattedCitizenID($event)"
                [ngClass]="{'is-invalid': registerForm.get('citizenID')?.invalid && registerForm.get('citizenID')?.touched}"
                [value]="registerForm.get('citizenID')?.value | citizenID" /><br>
            <div *ngIf="(registerForm.get('citizenID')?.invalid && registerForm.get('citizenID')?.touched)"
                class="alert">
                กรุณากรอกหมายเลขบัตรประชาชน*</div>

            <!-- DOB -->
            <label for="dob">DOB:</label>
            <input type="date" formControlName="dob" min="1940-01-01" max="2024-12-31"
                [ngClass]="{'is-invalid': isInvalid('dob')}">
            <div *ngIf="isInvalid('dob')" class="alert">กรุณากรอกวันเกิด*</div>

            <!-- Email -->
            <input type="email" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': isInvalid('email')}">
            <div *ngIf="isInvalid('email')" class="alert">กรุณากรอกอีเมล*</div>

            <!-- Password -->
            <input type="password" formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid': isInvalid('password')}">
            <div *ngIf="isInvalid('password')" class="alert">กรุณากรอกรหัสผ่าน*</div>

            <!-- Confirm Password -->
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                [ngClass]="{'is-invalid': isInvalid('confirmPassword')}">
            <div *ngIf="isInvalid('confirmPassword')" class="alert">กรุณายืนยันรหัสผ่าน*</div>


            <button type="button" (click)="onCancel()">Cancel</button>
            <button type="submit">Register</button>
        </form>
    </div>
</body>